[submodule "Pymacs"]
	path = Pymacs
	url = git://github.com/pinard/Pymacs.git
[submodule "3dparty/Pymacs"]
	path = 3dparty/Pymacs
	url = git://github.com/pinard/Pymacs.git
[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/emacsmirror/yasnippet.git
[submodule "deft"]
	path = deft
	url = git://jblevins.org/git/deft.git
[submodule "3dparty/deft"]
	path = 3dparty/deft
	url = git://jblevins.org/git/deft.git
[submodule "3dparty/multiple-line-edit.el"]
	path = 3dparty/multiple-line-edit.el
	url = https://github.com/k-talo/multiple-line-edit.el.git
[submodule "3dparty/yaml-mode"]
	path = 3dparty/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "3dparty/org-mode"]
	path = 3dparty/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "3dparty/smart-tab"]
	path = 3dparty/smart-tab
	url = git://github.com/fgallina/smart-tab.git
[submodule "3dparty/slime"]
	path = 3dparty/slime
	url = git://github.com/emacsmirror/slime.git
[submodule "3dparty/full-ack"]
	path = 3dparty/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "3dparty/python.el"]
	path = 3dparty/python.el
	url = https://github.com/fgallina/python.el.git
[submodule "3dparty/projutils.el"]
	path = 3dparty/projutils.el
	url = https://github.com/fgallina/projutils.el.git
[submodule "3dparty/startupd.el"]
	path = 3dparty/startupd.el
	url = https://github.com/fgallina/startupd.el.git
[submodule "3dparty/startupd"]
	path = 3dparty/startupd
	url = https://github.com/fgallina/startupd.el.git
[submodule "3dparty/multiple-line-edit"]
	path = 3dparty/multiple-line-edit
	url = https://github.com/k-talo/multiple-line-edit.el.git
[submodule "3dparty/org-S5"]
	path = 3dparty/org-S5
	url = git://github.com/eschulte/org-S5.git
[submodule "3dparty/org-s5"]
	path = 3dparty/org-s5
	url = git://github.com/eschulte/org-S5.git
[submodule "3dparty/yasnippet"]
	path = 3dparty/yasnippet
	url = https://github.com/emacsmirror/yasnippet.git
[submodule "3dparty/yasnippet-snippets"]
	path = 3dparty/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "3dparty/pysmell"]
	path = 3dparty/pysmell
	url = https://github.com/orestis/pysmell.git
[submodule "3dparty/helm"]
	path = 3dparty/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "3dparty/cedet"]
	path = 3dparty/cedet
	url = https://github.com/emacsmirror/cedet.git
[submodule "3dparty/projectile"]
	path = 3dparty/projectile
	url = git://github.com/bbatsov/projectile.git
[submodule "3dparty/emacs-clang-complete-async"]
	path = 3dparty/emacs-clang-complete-async
	url = git://github.com/Golevka/emacs-clang-complete-async.git
[submodule "3dparty/xscope"]
	path = 3dparty/xscope
	url = git://github.com/vmfhrmfoaj/cscope-el.git
